@import url("https://fonts.googleapis.com/css2?family=Codystar:wght@300;400&family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=League+Gothic&family=League+Spartan:wght@100..900&family=Nixie+One&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&family=Quicksand:wght@300..700&display=swap");
@import "tailwindcss";

html {
  position: relative;
  height: 100dvh;
  overflow-y: hidden;
  font-family: "Quicksand";
  background: #18181b;
}
html::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to top,
   oklch(55.5% 0.163 48.998)  -800%,
    rgba(255, 117, 140, 0) 70%
  );
  background-repeat: no-repeat;
  pointer-events: none;
  z-index: -1;
}

.center {
  left: 50%;
  translate: -50%;
}
